.controls {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.controls button {
  height: 2em;
  padding: 0 1em;
  font-size: 1.1em;
  margin-top: 0.8em;
}

.controls .text {
  flex: 1;
  text-align: center;
  margin: 0 10px;
  font-size: 1.2em;
}

.column {
  --width: min(1280px, 100vw);
  margin: 0 auto;
  width: var(--width);
}

.column main {
  width: var(--width);
  height: calc(var(--width) * 1080 / 1920);
  outline: 4px dashed #f22b;
  background-color: #9eb2d8;
  display: flex;
  padding: 8px;
}
